.simple-progress-enter-active,
.simple-progress-leave-active {
	transition: all 1s;
}
.simple-progress-enter, .simple-progress-leave-active {
	opacity: 0;
	transform:translateY(-30px);
}


.preview-list-enter-active,
.preview-list-leave-active{
	transition: all 1s;
}
.preview-list-enter,.preview-list-leave-to {
	opacity: 0;
	transform:translateY(30px);
}
.preview-list-move{
	transition: transform 1s;
}